@model IEnumerable<Fourth_Home_Work.Models.Film>
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
<h3>Are sure that you want to delete the standing @ViewBag.Film.Name?</h3>
@using (Html.BeginForm("DeleteFilm", null, FormMethod.Post))
{
    <form action="~/Home/Index">
        <input type="submit" value="Delete"/>
    </form>
}
<div>
    <form action="~/Home/Index">
        <input type="submit" value="Go back"/>
    </form>
</div>
</body>
</html>
